h1,
h2,
h3,
h4 {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

p,
label {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #11998e;
  &:visited {
    color: #11998e;
  }
}

.source {
  text-align: center;
  margin: 3rem 0;
}